
<div class="error-message alert alert-danger">
  An error has occured.
</div>

<div class="tradeoff-analytics-container">

</div>

<div class="loading-message alert alert-info">
  Loading! Please be patient while we do awesome stuff for you :-).
</div>

{{yield}}