
.tradeoff-analytics-container {
    width: 100%;
    height: 80vh;

}

/* Defaults */
.tradeoff-analytics-container iframe {
    width: 100%;
    height: 100%;
}
.tradeoff-analytics-component .error-message {
    display: none;
}
.tradeoff-analytics-component .tradeoff-analytics-container {
    display: none;
}

/* On loading */
.tradeoff-analytics-component.loading .tradeoff-analytics-container {
    display: none;
}

/* On error */
.tradeoff-analytics-component.error .error-message {
    display: block;
}
.tradeoff-analytics-component.error .loading-message {
    display: none;
}
.tradeoff-analytics-component.error .tradeoff-analytics-container {
    display: none;
}

/* On ready */
.tradeoff-analytics-component.ready .error-message {
    display: none;
}
.tradeoff-analytics-component.ready .loading-message {
    display: none;
}
.tradeoff-analytics-component.ready .tradeoff-analytics-container {
    display: block;
}


/* From http://bootsnipp.com/snippets/featured/buttons-with-labels */
.btn-label {position: relative;left: -12px;display: inline-block;padding: 6px 12px;background: rgba(0,0,0,0.15);border-radius: 3px 0 0 3px;}
.btn-labeled {padding-top: 0;padding-bottom: 0;}
.btn { margin-bottom:10px; }